<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/register.css">
    <link rel="stylesheet" href="../css/chat.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>ESPEChat</title>
</head>
<body>
    <header>
        <h1>ESPEChat</h1>
    </header>
    <main>
        <div id="all-messages">
            <div class="image-container">
                <img src="/img/f1.png" alt="User Image">

                <div class="message">
                    <div class ="message-body">
                        <div class="user-info">
                            <span class="message-body">Moises</span>
                            <span class="timestamp">10:30 AM</span>
                            <span class="time">En línea</span>
                            <p>
                                lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, doloremque! Doloribus, voluptate. Doloribus, voluptate.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="/img/f1.png" alt="User Image">

                <div class="message">
                    <div class ="message-body">
                        <div class="user-info">
                            <span class="message-body">Moises</span>
                            <span class="timestamp">10:30 AM</span>
                            <span class="time">En línea</span>
                            <p>
                                lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, doloremque! Doloribus, voluptate. Doloribus, voluptate.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="/img/f1.png" alt="User Image">

                <div class="message">
                    <div class ="message-body">
                        <div class="user-info">
                            <span class="message-body">Moises</span>
                            <span class="timestamp">10:30 AM</span>
                            <span class="time">En línea</span>
                            <p>
                                lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, doloremque! Doloribus, voluptate. Doloribus, voluptate.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="send-message">
                <input type="text" id="message">
                <button id="send-message" class="btn secondary">Enviar</button>
            </div>
        </div>
        </main>
    <p>Bienvenido a ESPEChat, la aplicacion de tiempo real</p>
    <script src="/socket.io/socket.io.js"></script>
    <script src = "/js/scripts.js"></script>
</body>
</html>
